* {
  margin: 0;
}

.app{
  background-color: #fafafa;
  
}

.app_header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  
}
.post_right{
  margin-left: 20px;
}

.app_headerImage{
  object-fit: contain;
  width: min-content;
}

.app_posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_signUp{
  display: flex;
  flex-direction: column;
}

